/* Container Card */
.dataInput {
    background-color: white;
    width: 100vw;
    height: 100vh;
  
    background-image: url('https://cdn.pixabay.com/photo/2013/07/18/10/55/dna-163466_1280.jpg');
    background-size: cover; 
  background-position: center;
  }
  
  /* Section Title */
  .title {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    position: absolute;
    left: 550px;
    top: 50px;
  }
  
  /* Upload Option */
  .uploadOption {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;

    max-width: 500px;
    position: absolute;
    left: 500px;
    top: 200px;
  }
  
  .uploadOption h3 {
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
  }
  
  /* Labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Inputs and Textarea */
  input[type='file'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Buttons */
  .btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
 
  .result{

    position: absolute;
    left: 400px;
  }
  .about_page{

    position: absolute;
    top: 550px;
  }